body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4fff4;
}


nav {
background: #4caf50;
color: white;
padding: 15px;
display: flex;
justify-content: space-between;
}


nav ul {
list-style: none;
display: flex;
}


nav ul li {
margin-left: 15px;
}


nav ul li a {
color: white;
text-decoration: none;
}


.hero {
text-align: center;
padding: 100px;
background: #d9fdd3;
}


.btn {
background: #4caf50;
color: white;
padding: 10px 20px;
text-decoration: none;
}


.title {
text-align: center;
margin-top: 30px;
}


.cards {
display: flex;
justify-content: center;
gap: 20px;
margin: 30px;
}


.card {
background: white;
padding: 20px;
width: 150px;
text-align: center;
border-radius: 8px;
}


.contact-form {
width: 300px;
margin: auto;
display: flex;
flex-direction: column;
}


.contact-form input,
.contact-form textarea {
margin: 10px 0;
padding: 10px;
}


button {
background: #4caf50;
color: white;
border: none;
padding: 10px;
}